<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budget Tool - AndThenSome Software</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <h1>Category Setup</a></h1>
    <div>
    {% if id is not None %}
    <form action="{% url 'category' id %}" method="post">
    {% else %}
    <form action="{% url 'category' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{category.c_name}}">
        <label for="type" class="form-label">Type:</label>
        <select name="type" class="form-control" id="type" required>
            <option value="1">Income</option>
            <option value="2">Expense</option>
        </select>
        <label for="monthly" class="form-label">Avg Monthly Amount:</label>
        <input type="number" class="form-control" step="0.01" id="monthly" name="monthly" value="{{category.c_monthly|floatformat:2}}">
        <label for="planned" class="form-label">Current Month Plan:</label>
        <input type="number" class="form-control" step="0.01" id="planned" name="planned" value="{{category.c_planned|floatformat:2}}">
        <label for="notes" class="form-label">Notes:</label>
        <input type="text" class="form-control" id="notes" name="notes" value="{{category.c_notes}}">
        <input type="submit" class="btn btn-primary" name="action" value="Submit">
        {% if id is not None %}
        <input type="submit" class="btn btn-primary" name="action" value="Delete" formnovalidate>
        {% endif %}
        <input type="submit" class="btn btn-primary" name="action" value="Cancel" formnovalidate>
    </form>
    </div>
    <strong>{{error}}</strong>
    <script>
        document.getElementById("type").value = {{category.c_type}};
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>