<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budget Tool - AndThenSome Software</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'budget/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <h1>Budget for <a href="{% url 'month' %}">{{month}} {{year}}</a></h1>
    <table class="table table-bordered">
        <tr>
            <th>Category</th>
            <th>Type</th>
            <th>Avg Budget</th>                
            <th>Plan Budget</th>
            <th>Actual</th>
            <th>Difference</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td><a href="{% url 'month' %}">Carryover Last Month</a></td>
            <td></td>
            <td style="background-color: bisque;"></td>
            <td style="text-align:right">$ {{starting|floatformat:2}}</td>
            <td style="text-align:right">$ {{starting|floatformat:2}}</td>
            <td></td>
            <td></td>
        </tr>
        {% for category in categories %}
            <tr>
                <td><a href="{% url 'category' category.id %}">{{category.c_name}}</a></td>
                <td>{{category.c_type}}</td>
                <td style="background-color: bisque; text-align:right"">$ {{category.c_monthly|floatformat:2}}</td>
                <td style="text-align:right">$ {{category.c_planned|floatformat:2}}</td>
                <td style="text-align:right">$ {{category.actual|floatformat:2}}</td>
                {% if category.difference < 0 %}
                    <td style="color:red; font-weight: bold; text-align:right"">$ {{category.difference|floatformat:2}}</td>
                {% else %}
                    <td style="color:green; font-weight: bold; text-align:right"">$ {{category.difference|floatformat:2}}</td>
                {% endif %}
                <td>{{category.c_notes}}</td>
            </tr>
        {% endfor %}
        <tr style="font-weight: bold">
            <td>Total</td>
            <td></td>
            {% if total_monthly < 0 %}
                <td style="color:red; background-color: bisque; text-align:right"">$ {{total_monthly|floatformat:2}}</td>
            {% else %}
                <td style="color:green; background-color: bisque; text-align:right">$ {{total_monthly|floatformat:2}}</td>
            {% endif %}
            {% if total_planned < 0 %}
                <td style="color:red; text-align:right">$ {{total_planned|floatformat:2}}</td>
            {% else %}
                <td style="color:green; text-align:right">$ {{total_planned|floatformat:2}}</td>
            {% endif %}
            {% if total_actual < 0 %}
                <td style="color:red; text-align:right">$ {{total_actual|floatformat:2}}</td>
            {% else %}
                <td style="color:green; text-align:right">$ {{total_actual|floatformat:2}}</td>
            {% endif %}            
            {% if total_difference < 0 %}
                <td style="color:red; text-align:right">$ {{total_difference|floatformat:2}}</td>
            {% else %}
                <td style="color:green; text-align:right">$ {{total_difference|floatformat:2}}</td>
            {% endif %}                        
            <td></td>
        </tr>
    </table>
    <br><a href="{% url 'category' %}">Add New Category</a>
    <h1>Transactions</h1>
    <a href="{% url 'transact' %}">Add New Transaction</a><br><br>
    <form action="{% url 'login_app' %}" method="post">
        {% csrf_token %}
        <label for="month"class="form-label">Month:</label>
        <select name="month" class="form-control" id="month" required>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <label for="year" class="form-label">Year:</label>
        <input type="number" class="form-control" required id="year" name="year" value="{{year_display}}">
        <input type="submit" class="btn btn-primary" name="action" value="Filter">
        <input type="submit" class="btn btn-primary" name="action" value="Current" formnovalidate>
    </form>    
    <table class="table table-bordered">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Cleared</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td><a href="{% url 'transact' transaction.id %}">{{transaction.t_month}} - {{transaction.t_year}}</a></td>
                <td>{{transaction.t_category.c_name}}</td>
                <td><a href="{% url 'transact' transaction.id %}">{{transaction.t_description}}</a></td>
                <td style="text-align:right">$ {{transaction.t_amount|floatformat:2}}</td>
                {% if transaction.t_cleared %}
                    <td style="color:green">{{transaction.t_cleared}}</td>
                {% else %}
                    <td style="color:red">{{transaction.t_cleared}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="{% url "home" %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="action" value="Logoff">
    </form>

    <script>
        document.getElementById("month").value = {{month_display}};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>